<td><%= repository %></td>
<td><%= tag %></td>
<td><%= id %></td>
<% if (repository && repository !== '' && repository !== 'none' && repository !== '<none>') { %>
    <td class="controls start">Start</td>
<% } %>


