extends layout

block extraHead

block content
    h1= title
    p Welcome to #{title}

    table.table.table-striped.table-bordered.table-hover
        th Container ID
        th Name
        th Ports
        each pid in containers
            tr
                td= pid
                td
                td
